*{
  padding: 0;
  margin: 0;
}

/* img{
 height: 25px;
 width: 65%; 
} */


.app {
  background-image: url('./public/img/img6.jpg');
  z-index: -1;
  min-width: 100%;
    min-height: 100vh;
  /* margin-top: "-70px"; */
  font-size: "50px";
  background-size: "cover";
  background-repeat: "no-repeat";
};